{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row ">
        <div class="container mt-5">
            <p class="h1">EDA and Plots</p>
            <article class="mt-5">
                <p class="lead">Table 1: Summary Statistics</p>
                <p>Count, mean, std. dev., minimum and quartile summary data for the entire
                    dataset.</p>
            </article>
            <div class="container" id="summary">
                {{ summary_stats|safe }}
            </div>
            <div class="container">
                <article>
                    <p>One can see from our summary statistics of continuous variables
                        that the average person from this sample is 38, almost 39 years
                        old. They work 40 hours a week. They have not completed high
                        school. Twenty four percent of these American persons (US
                        citizens and permanent residents) make more than $50,000 per year.</p>

                        <p>Seventy five percent of people in this sample work 45 hours or
                        less with a tight distribution of hours around 40 for most adults.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mt-5">
            <article >
                <p class="lead">Table 2: Sample Data Grouped by Over 50K, Married and Race</p>
                <p>Notes:</p>
                    <ul>
                        <li><code>Over 50K</code> signifies whether the census respondent makes more than
                            $50k per year.</li>
                        <li><code>Married</code> consolidates multiple <code>Marital Status</code> categories
                            into a single binary variable.</li>
                        <li><code>Race</code> denotes the respondents race.</li>
                        <li><code>Hours Per Week</code> is the hours per week the respondent works.</li>
                        <li><code>Education Num</code>: how many years of education the repondent completed.</li>
                    </ul>

            </article>
            <div class="container" id="inc_race_marr">
                {{ over_50k_race_marr|safe }}
            </div>
            <div class="container">
                <article>
                    <p>In the second table, I have grouped the continuous data variables
                        by those who make over $50K, whether they are married or not, and their
                        race.</p>
                    <p>The first thing to notice about our data is those who make more than
                        $50K have more education than those who don't. About two years more
                        generally. </p>
                    <p>In the group that makes less than $50K, there are comparitively
                        fewer married census respondents than unmarried. One suspects that this
                        is younger, unmarried people making less money and the mean, age of these
                        groups agrees with the unmarried group who makes less than $50K being about
                        10 years younger on average.</p>
                    <p>In the less than $50K group, the hours worked and education levels are similar.</p>
                    <p>The over $50K group is the opposite with respect to being married and
                        age. There are more married people who make over $50K while they are
                        still older but less so than those who are not married. Those unmarried
                        respondents who make more than $50K also work the longest hours and have
                        some of the highest education levels in the sample.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mt-5">
            <article></article>
            <div class="container" id="hours_worked">
                {{ hours_worked|safe }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mt-5">
            <article></article>
            <div class="container" id="histogram_hours_worked">
                {{ histogram_hours_worked|safe }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container mt-5">
            <article></article>
            <div class="container" id="map_over50k">
                {{ map_over50k|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}